.search-panel {
    width: 100%;
    margin-top: 30px;
    padding: 25px;
    background-color: #d0d7e0;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(211, 204, 204, 0.15);
    color: #000;
}