/* Timer */

.container-timer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 300px auto;
}
.timer1 {
    padding: 10px;
    border: 1px solid grey;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    width: 360px;
    height: 150px;
  }

  
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .numbers1 {
    display: block;
    float: left;  
    color: #000;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .timer1 span{
    margin-right: 2px;
    background-color: #575757;
    border-radius: 7px;
    padding: 4px;
  }
  .description1{

    font-size: 18px;
    text-align: center;
    color: black;
  }